/* 
amarelo #e6b91e
cinza do header #252525
cinza do body #292929
cinza da linha #2a2a2a
azul #1f6b82
*/


body{
    font-family:sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    background-color: #292929;
}
/* header tag */
.header{
    position: fixed;
    width: 100%;
    display: flex;
    background-color:#252525 ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    
}

/* nav geral */
.main-nav{
    width: 100%;
    display: flex;
}

.navigation{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 10px 0;
    margin: auto;
}
.mobail-nav > a{
    color: #252525;
}

.mobail-nav-close > a{
    color: #252525;
    transform: translateX(-100%);
}


/* nav de cima */
.nav1{
    display: flex;
    align-items: center;
}

.col1{
    display: flex;
}

/* logo */
.logo{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #252525;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #e6b91e;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 3px;
    margin-right: 10px;
}

/* input busca */
.nav1 input{
    padding: 10px 0;
    width: 350px;
    border: none;
}
.nav1 button{
    padding: 10px 0;
    width: 40px;
    background-color:#e6b91e;
    border: none;
    margin-left: -5px;
}



.col2{
    width: 200px;
    display: flex;
    justify-content: space-evenly; 
}

.det{
    background-color: #e6b91e;
    color: #252525;
    font-weight: 800;
    padding: 1px 6px;
    border-radius: 3px;
}
.pro{
    color: #1f6b82;
    font-weight: 600;
}

.col3{
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.col3 img{
    width: 30px;
    border-radius: 50px;
    padding: 0 5px;
}

.line{
    border: 1px solid #75757570;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* meu nav2 */
.lista-menu{
    display: flex;
    flex-direction: row;
}

.item-list{
    padding: 5px 10px;
}
.item-list a{
    font-size: 12px;
    color: #757575;
    text-transform: uppercase;
}

.item-list a:hover{
    text-decoration: underline;
}


main{

    margin: auto;
}


.movies-explore{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #757575;
    padding: 0 0 45px 0;
    margin-top: 30px;
}
.trailer{
    max-width: 70%;
    margin: auto;
    padding: 50px;
}

.title-exh1{
    margin-top: 110px;
}

.title-trailers{
    font-size: 30px;
    font-weight: 400;
    padding: 5px 0;
}

.description-trailers{
    padding: 5px 0 20px 0 ;
}

.films-cover{
    height: 315px;
    margin: 0 5px;
}

.img-films{
    display: flex;
}


.fa-compass{
    color: #e6b91e;
}

.filme-news{
    width: 70%;
    margin: auto;
}
.fa-film{
    color: #e6b91e;
}

.catalogo{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.films-catalogo{
    height: 300px;
    margin: 5px 5px;
}

.film-line2{
    margin-top: 10px;
    
}

img:hover{
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(1.2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/* SECTION AVALIATIONS */
.avaliation{
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
    width: 70%;
    margin: auto;
    margin-top: 30px;   
}


.container-avaliations{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
}
.top-avaliation{
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 20px 0;
}
.fa-video{
    color: #e6b91e;
    font-size: 25px;
}

.title-avaliation{
    font-size: 20px;
    width: 300px;
}

.fa-star{
    font-size: 13px;
    color: #e6b91e;
}

.description-avaliation{
    padding: 10px 0;
    color: #757575;
}

/* SECTION WATCH NOW FREE */

.watch-now-free{
    width: 85%;
    margin: auto;
    margin-top: 30px;
    border-bottom: 1px solid #757575;
}
.watch-free-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.title-watch-now-free{
    width: 82%;
    margin: auto;
}

.fa-play-circle{
    color: #e6b91e;
}

.video{
    margin: 10px 0;
}

/* FOOTER */

footer{
    background-color: #252525 ;
    padding: 30px;
}


.call{
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    padding: 20px;
}

.itemList{
    padding: 12px;
    color: #757575;
    font-weight: 200;
}

.itemList:hover{
    text-decoration: underline;
    cursor: pointer;
}


.socialList{
    display: flex;
    justify-content: center;
}

.socialItem{
    padding: 10px;
}

.fab{
    color: #757575;
}

.copy{
    padding: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    color: #757575;
}


/* tel */
.lista1 .tel{
    font-size: 20px;
    font-weight: 400;
}



/* MOBAIL */
@media screen and (max-device-width: 480px){
    
    /* NAVIGATION */
    .mobail-nav{
        width: 100%;
        padding: 20px;
        background-color: #e6b91e;
    }

    .mobail-nav > a{
        font-size: 30px;
        color: #292929;
    }
    
    .main-nav{
        position: absolute;
        transform: translateX(-100%);
        transition: 300ms;
        background-color: #e6b91e;
        height: 100vh;
    }

    .menuOpen{
        transform: translateX(0);
    }

    .mobail-nav-close{
        margin: 80px auto;
    }
    .mobail-nav-close > a{
        font-size: 55px;
        color: #292929;
    }

    .navigation{
        max-width: 90%;
        margin-top: 15px;
    }

    /* NAV 1 */
    .nav1{
        justify-content: center;
    }

    .logo{
        background-color: #292929;
        color: #e6b91e;
    }

    .nav1 input{
        width: 150px;
    }
    .nav1 button{
        background-color: #292929;
    }
    .fa-search{
        color: #e6b91e;
    }

    .col2{
        display: none;
    }

    .col3{
        width:50px;
    }
    .col3 > p{
        display: none;
    }

    /* NAV 2 */
    .lista-menu{
        flex-direction: column;
    }

    .item-list{
        padding: 15px 0;
    }
    .item-list > a{
        color: #292929;
        font-weight: 600;
        font-size: 20px;
    }



    /* SECION TRAILER */
    .trailer{
        max-width: 90%;
        padding: 20px 0;
    }

    .title-trailer{
        width: 80%;
        margin: auto;
        margin-top: 70px;
    }
    .movies-explore{
        width: 100%;
    }
    .img-films{
        display: none;
    }

    .exclusive{
        width: 330px;
        height: 180px;
    }



    /* SECTION LAUNCH */
    .filme-news{
        width: 100%;
    }

    .title-filme-news{
        width: 70%;
        margin: auto;
    }
    .film-line1{
        display: flex;
        overflow-x: scroll;
    }

    .film-line2{
        display: flex;
        overflow-x: scroll;
    }
    

    /* SECTION AVALIATION */
    .avaliation{
        width: 90%;
    }

    .container-avaliations{
        margin: 15px auto;
        flex-direction: column;
        align-items: center;
        width: 90%;    
    }

    .top-avaliation{
        width: 300px;
        justify-content: space-between;
    }

    .title-avaliation{
        width: 190px;
    }

    /* SECTION FOOTER */
    .lista1{
        text-align: center;
    }

    .lista2, .lista3, .lista4{
        display: none;
    } 
}